.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: orange;
  --button-secondary-hover: rgb(5, 5, 238);


}


.main {
  
}
.header {
 
  text-align: center;
  background-color: rgb(5, 5, 238);
  position: relative;
  padding: 0.5rem 2rem;
}
.title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: white;
}
.subtitle {
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  margin: 0;
}

